# Compiled
*.elc

# Auto Generated
config.el
*.eld
tramp
recentf
network-security.data

# Packaging
.cask

# Backup files
*~
# directories
auto-save-list/
backups/
elpa/
eshel/
url/
games/
transient/

# Undo-tree save-files
*.~undo-tree
# OS Specific
.DS_Store

# machine-specific files
custom.el
machine-specific.el